body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(../img/covid-19.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;

    
}





h1{
    font-size: 60px;
    width:50%;
    margin: auto;
    margin-bottom: 40px;
}

.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
    color: #000000;

}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

*{
    box-sizing: borde-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70xp;
}



.nav-area{
    list-style: none;
}

.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform:uppercase;
}

.nav-area li a{
    transition: .3s;
    color: #fff;
}

.nav-area li a:hover{
    columns: #d22938
}

.form{
    float: left;
}





















